@import url("style.css");

/*About Content*/

.about-company {
    background-color: rgba(248, 247, 245, 1);
    display: flex;
    padding: 40px;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    font-family: Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
    justify-content: center;
}

@media (max-width: 991px) {
    .about-company {
        padding: 20px;
    }
}

.features-section {
    background-color: rgba(248, 247, 245, 1);
    display: flex;
    width: 100%;
    max-width: 1360px;
    flex-direction: column;
    overflow: hidden;
    align-items: stretch;
    justify-content: start;
}

@media (max-width: 991px) {
    .features-section {
        max-width: 100%;
    }
}

.top-divider,
.bottom-divider {
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    min-height: 1px;
    width: 100%;
}

.bottom-divider {
    margin-top: 80px;
}

@media (max-width: 991px) {
    .top-divider,
    .bottom-divider {
        max-width: 100%;
    }
    .bottom-divider {
        margin-top: 40px;
    }
}

.about-main-header {
    align-self: center;
    margin-top: 80px;
    width: 1280px;
    max-width: 100%;
    padding: 0 32px;
    font-weight: 700;
    text-align: center;
}

@media (max-width: 991px) {
    .about-main-header {
        padding: 0 20px;
        margin-top: 40px;
    }
}

.header-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

@media (max-width: 991px) {
    .header-container {
        max-width: 100%;
    }
}

.header-content {
    width: 768px;
    max-width: 100%;
}

.heading-group {
    width: 100%;
}

.about-main-heading {
    color: #393939;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -1.6px;
    margin: 0;
}

@media (max-width: 991px) {
    .about-main-heading {
        max-width: 100%;
    }
}

.main-subtitle {
    color: #5e5e5e;
    font-size: 20px;
    letter-spacing: -1px;
    margin: 0;
}

@media (max-width: 991px) {
    .main-subtitle {
        max-width: 100%;
    }
}

.feature-section {
    display: flex;
    margin-top: 80px;
    width: 100%;
    align-items: stretch;
    justify-content: start;
    flex-wrap: wrap;
}

@media (max-width: 991px) {
    .feature-section {
        max-width: 100%;
        margin-top: 40px;
    }
}

.feature-content-wrapper {
    display: flex;
    min-width: 240px;
    padding-right: 48px;
    padding: 80px 48px 80px 0;
    align-items: center;
    gap: 40px 64px;
    justify-content: end;
    height: 100%;
    flex: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

.feature-content-left {
    padding: 96px 0 96px 40px;
    justify-content: start;
}

.feature-content-right {
    padding: 96px 64px 96px 0;
    justify-content: end;
}

@media (max-width: 991px) {
    .feature-content-wrapper,
    .feature-content-left,
    .feature-content-right {
        max-width: 100%;
        padding: 40px 20px;
    }
}

.feature-container {
    align-self: stretch;
    display: flex;
    min-width: 240px;
    margin: auto 0;
    width: 100%;
    padding: 0 32px;
    align-items: start;
    justify-content: start;
    flex: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

@media (max-width: 991px) {
    .feature-container {
        max-width: 100%;
        padding: 0 20px;
    }
}

.feature-content {
    min-width: 240px;
    width: 100%;
    flex: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

@media (max-width: 991px) {
    .feature-content {
        max-width: 100%;
    }
}

.feature-header {
    width: 100%;
}

@media (max-width: 991px) {
    .feature-header {
        max-width: 100%;
    }
}

.icon-title-group {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    color: #393939;
    font-weight: 700;
    letter-spacing: -1px;
    justify-content: start;
    flex-wrap: wrap;
}

@media (max-width: 991px) {
    .icon-title-group {
        max-width: 100%;
    }
}

.feature-icon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 48px;
    border-radius: 28px;
    align-self: stretch;
    margin: auto 0;
    flex-shrink: 0;
}

.feature-title {
    color: #393939;
    align-self: stretch;
    margin: auto 0;
    flex: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -1px;
}

@media (max-width: 991px) {
    .feature-title {
        max-width: 100%;
    }
}

.feature-description {
    color: #5e5e5e;
    margin-top: 24px;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

@media (max-width: 991px) {
    .feature-description {
        max-width: 100%;
    }
}

.feature-benefits {
    margin-top: 32px;
    width: 100%;
    padding-left: 16px;
    font-size: 16px;
    color: #5e5e5e;
    font-weight: 400;
    list-style: none;
    padding: 0;
}

@media (max-width: 991px) {
    .feature-benefits {
        max-width: 100%;
    }
}

.benefit-item {
    display: flex;
    width: 100%;
    align-items: start;
    gap: 12px;
    justify-content: start;
    flex-wrap: wrap;
    margin-top: 20px;
}

.benefit-item:first-child {
    margin-top: 0;
}

@media (max-width: 991px) {
    .benefit-item {
        max-width: 100%;
    }
}

.check-icon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 28px;
    border-radius: 14px;
    flex-shrink: 0;
}

.benefit-text {
    color: #5e5e5e;
    min-width: 240px;
    flex: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

@media (max-width: 991px) {
    .benefit-text {
        max-width: 100%;
    }
}

.feature-image {
    aspect-ratio: 1.13;
    object-fit: contain;
    object-position: center;
    width: 100%;
    border-radius: 4px;
    min-width: 240px;
    flex: 1;
    flex-shrink: 1;
    flex-basis: 48px;
}

.feature-section:nth-child(3) .feature-image {
    aspect-ratio: 1.07;
    flex-basis: 40px;
}

.feature-section:nth-child(5) .feature-image {
    aspect-ratio: 1.03;
    flex-basis: 64px;
}

@media (max-width: 991px) {
    .feature-image {
        max-width: 100%;
    }
}