@import url("style.css");

/*Intro*/

.intro {
    justify-content: center;
    align-items: start;
    align-self: stretch;
    display: flex;
    gap: 40px 153px;
    overflow: hidden;
    font-family: Montserrat, sans-serif;
    background-color: var(--Background-Off-white, #f8f7f5);
    padding: 80px 40px;
}

@media (max-width: 991px) {
    .intro {
        padding: 0 20px;
    }
}

.div-intro {
    display: flex;
    min-width: 240px;
    width: 100%;
    max-width: 1360px;
    padding-right: 80px;
    align-items: center;
    gap: 40px 100px;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1;
    flex-basis: 0%;
}

@media (max-width: 991px) {
    .div-intro {
        max-width: 100%;
    }
}

.bigcontent {
    align-self: stretch;
    display: flex;
    min-width: 240px;
    flex-direction: column;
    justify-content: start;
    width: 680px;
    max-width: 680px;
    margin: auto 0;
}

@media (max-width: 991px) {
    .bigcontent {
        max-width: 100%;
    }
}

.headingandtext {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: start;
}

@media (max-width: 991px) {
    .headingandtext {
        max-width: 100%;
    }
}

.heading {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: start;
}

@media (max-width: 991px) {
    .heading {
        max-width: 100%;
    }
}

.caption-hint-intro {
    align-self: start;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: var(--Pntec-Secondary-Colors, #d56c10);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 1.2;
    justify-content: start;
}

.horizontal-divider-intro {
    align-self: stretch;
    display: flex;
    width: 30px;
    height: 2px;
    background-color: var(--Pntec-Secondary-Colors, #d56c10);
    margin: auto 0;
}

.container {
    color: var(--Pntec-Secondary-Colors, #d56c10);
    align-self: stretch;
    overflow: hidden;
    margin: auto 0;
}

.quality-trustand-tracking {
    color: var(--Text-Head-subheading-text, #393939);
    font-size: 32px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -1.6px;
    margin-top: 8px;
}

@media (max-width: 991px) {
    .quality-trustand-tracking {
        max-width: 100%;
    }
}

.cngty-c-phn-cng-ngh-thit-b-phng-namlnvnhpkhuphnphisnxutvlprpccthitb-pcc-cphcvchoccdnhngucthnhlpvonm-2007-pnte-clintcphttrintronglnhvcphngchychachyviphngchmmanglishilngchokhchhng-chngtiluniutrongvicngdngvcitincngnghaccsnphmmivothtrng-pccc-dockhchhngnggicaotrongcchtlngvgic {
    color: var(--Text-Body-text, #5e5e5e);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 16px;
}

@media (max-width: 991px) {
    .cngty-c-phn-cng-ngh-thit-b-phng-namlnvnhpkhuphnphisnxutvlprpccthitb-pcc-cphcvchoccdnhngucthnhlpvonm-2007-pnte-clintcphttrintronglnhvcphngchychachyviphngchmmanglishilngchokhchhng-chngtiluniutrongvicngdngvcitincngnghaccsnphmmivothtrng-pccc-dockhchhngnggicaotrongcchtlngvgic {
        max-width: 100%;
    }
}

.intro-button {
    color: var(--Text-White-text, #fff);
    border-radius: 3px;
    align-self: start;
    margin-top: 24px;
    font-size: 14px;
    font-weight: 800;
    line-height: 1;
    background-color: var(--Pntec-Primary-Colors, #945816);
    padding: 16px 24px;
    text-decoration: none;
}

@media (max-width: 991px) {
    .button {
        padding: 0 20px;
    }
}

.img {
    aspect-ratio: 0.85;
    object-fit: contain;
    object-position: center;
    width: 432px;
    align-self: stretch;
    min-width: 240px;
    margin: auto 0;
}

@media (max-width: 991px) {
    .img {
        max-width: 100%;
    }
}


/*Product Showcase*/

.showcase {
    display: flex;
    padding: 40px;
    align-items: start;
    gap: 8px;
    overflow: hidden;
    font-family: Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
    justify-content: center;
}

.showcase__container {
    display: flex;
    min-width: 240px;
    width: 100%;
    max-width: 1360px;
    align-items: center;
    gap: 40px 100px;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

.showcase__image {
    aspect-ratio: 0.69;
    object-fit: contain;
    object-position: center;
    width: 481px;
    /*box-shadow: 2px 8px 4px rgba(0, 0, 0, 0.4);*/
    align-self: stretch;
    min-width: 240px;
    margin-top: auto;
    margin-bottom: auto;
}

.showcase__content {
    align-self: stretch;
    display: flex;
    min-width: 240px;
    margin-top: auto;
    margin-bottom: auto;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
    width: 680px;
    max-width: 680px;
}

.showcase__header {
    width: 100%;
}

.showcase__caption {
    align-self: start;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: rgba(213, 108, 16, 1);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 1.2;
    justify-content: start;
}

.showcase__divider {
    background-color: rgba(213, 108, 16, 1);
    align-self: stretch;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    width: 30px;
    flex-shrink: 0;
    height: 2px;
}

.showcase__caption-text {
    align-self: stretch;
    margin-top: auto;
    margin-bottom: auto;
    overflow: hidden;
}

.showcase__title {
    color: rgba(57, 57, 57, 1);
    font-size: 32px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -1.6px;
    margin-top: 8px;
}

.showcase__description {
    color: rgba(94, 94, 94, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 16px;
}

.showcase__button {
    border: none;
    border-radius: 3px;
    background-color: rgba(148, 88, 22, 1);
    align-self: start;
    margin-top: 24px;
    padding: 16px 24px;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
    font-weight: 800;
    white-space: nowrap;
    line-height: 1;
    cursor: pointer;
}

@media (max-width: 991px) {
    .showcase {
        padding-left: 20px;
        padding-right: 20px;
    }
    .showcase__container {
        max-width: 100%;
    }
    .showcase__image {
        max-width: 100%;
    }
    .showcase__content {
        max-width: 100%;
    }
    .showcase__title {
        max-width: 100%;
    }
    .showcase__description {
        max-width: 100%;
    }
    .showcase__button {
        padding-left: 20px;
        padding-right: 20px;
        white-space: initial;
    }
}


/*Partner*/

.social-proof-section {
    background-color: rgba(57, 57, 57, 1);
    display: flex;
    padding: 80px 40px;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.partners-container {
    display: flex;
    width: 100%;
    max-width: 1360px;
    align-items: center;
    gap: 40px 100px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section-header {
    align-self: stretch;
    display: flex;
    min-width: 240px;
    margin: auto 0;
    flex-direction: column;
    align-items: stretch;
    font-family: Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
    justify-content: start;
    width: 412px;
}

.header-caption {
    align-self: start;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: #d56c10;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 1.2;
    justify-content: start;
}

.caption-divider {
    align-self: stretch;
    display: flex;
    margin: auto 0;
    width: 30px;
    flex-shrink: 0;
    height: 2px;
    background-color: #d56c10;
}

.partner-caption-text {
    color: #d56c10;
    align-self: stretch;
    margin: auto 0;
    overflow: hidden;
}

.partner-section-title {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -1.6px;
    margin-top: 8px;
}

.partners-grid {
    align-self: stretch;
    display: flex;
    min-width: 240px;
    margin: auto 0;
    align-items: center;
    gap: 40px;
    justify-content: start;
    flex-wrap: wrap;
}

.partner-logo-wrapper {
    border-radius: 3px;
    background-color: rgba(234, 234, 234, 1);
    align-self: stretch;
    display: flex;
    margin: auto 0;
    padding: 66px 13px;
    flex-direction: column;
    overflow: hidden;
    align-items: stretch;
    justify-content: center;
    width: 184px;
}

.partner-logo-wrapper:nth-child(2) {
    padding: 64px 28px;
}

.partner-logo {
    aspect-ratio: 5.65;
    object-fit: contain;
    object-position: center;
    width: 158px;
}

.partner-logo-wrapper:nth-child(2) .partner-logo {
    aspect-ratio: 4;
    width: 128px;
}

.partner-logo-full {
    aspect-ratio: 1.15;
    object-fit: contain;
    object-position: center;
    width: 184px;
    border-radius: 3px;
    align-self: stretch;
    margin: auto 0;
    flex-shrink: 0;
}

@media (max-width: 991px) {
    .social-proof-section {
        padding: 80px 20px;
    }
    .partners-container {
        max-width: 100%;
    }
    .partners-grid {
        max-width: 100%;
    }
    .partner-logo-wrapper:nth-child(2) {
        padding: 64px 20px;
    }
}


/*Blog*/

.blog {
    display: flex;
    padding: 40px 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blog-content {
    display: flex;
    width: 100%;
    max-width: 1400px;
    flex-direction: column;
    align-items: stretch;
}

@media (max-width: 991px) {
    .blog-content {
        max-width: 100%;
    }
}

.news-heading {
    display: flex;
    width: 100%;
    padding: 0 20px;
    align-items: flex-end;
    gap: 40px 100px;
    font-family: Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
    justify-content: space-between;
    flex-wrap: wrap;
}

.heading-content {
    display: flex;
    min-width: 240px;
    flex-direction: column;
    align-items: stretch;
    width: 245px;
}

.caption-hint-blog {
    align-self: flex-start;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: #d56c10;
    font-weight: 500;
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 1.2;
}

.horizontal-divider-blog {
    width: 30px;
    height: 2px;
    background-color: #d56c10;
    margin: auto 0;
}

.blog-caption-text {
    color: #d56c10;
    margin: auto 0;
    overflow: hidden;
}

.section-title {
    color: #393939;
    font-size: 32px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -1.6px;
    margin-top: 8px;
    margin-bottom: 0;
}

.view-all-link {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    color: #272727;
    font-weight: 800;
    line-height: 1;
    text-decoration: none;
}

.view-all-icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.news-container {
    display: flex;
    margin-top: 20px;
    width: 100%;
    padding: 20px;
    align-items: center;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
}

.news-card {
    align-self: stretch;
    min-width: 240px;
    margin: auto;
    flex: 1;
    flex-basis: 0%;
    max-width: 430px;
    text-decoration: none;
}

.news-image-wrapper {
    width: 100%;
}

.news-image {
    aspect-ratio: 1.51;
    object-fit: contain;
    width: 100%;
}

.news-content {
    display: flex;
    margin-top: 24px;
    width: 100%;
    flex-direction: column;
    font-family: Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
}

.news-date {
    align-self: flex-start;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 12px;
    color: #d56c10;
    font-weight: 500;
    text-transform: uppercase;
}

.news-text-content {
    margin-top: 8px;
    width: 100%;
}

.news-title {
    color: #393939;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -1px;
    margin: 0;
}

.news-description {
    color: #5e5e5e;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 8px;
    margin-bottom: 0;
}

.dot-navigation {
    align-self: center;
    display: flex;
    margin-top: 20px;
}

.dot-indicator {
    display: flex;
    padding: 5px 7px;
    align-items: center;
    justify-content: center;
    width: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

.dot-news {
    border-radius: 30px;
    width: 10px;
    height: 10px;
    background-color: #d6d6d6;
}

.dot-news.active {
    background-color: #945816;
}

@media (max-width: 991px) {
    .news-heading,
    .news-container,
    .news-card,
    .news-content,
    .news-image,
    .news-title,
    .news-description {
        max-width: 100%;
    }
    .caption-hint-blog,
    .news-date {
        white-space: initial;
    }
}