@import url("style.css");

/*Cert*/

.certificates-section {
    background-color: rgba(248, 247, 245, 1);
    display: flex;
    padding: 40px;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    font-family: Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
    font-size: 24px;
    color: #393939;
    font-weight: 700;
    text-align: center;
    letter-spacing: -0.48px;
    line-height: 32px;
    justify-content: start;
}

@media (max-width: 991px) {
    .certificates-section {
        padding: 20px;
    }
}

.section-divider {
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    min-height: 1px;
    width: 100%;
    max-width: 1360px;
}

@media (max-width: 991px) {
    .section-divider {
        max-width: 100%;
    }
}

.certificates-container {
    display: flex;
    margin-top: 40px;
    width: 100%;
    max-width: 1360px;
    padding: 0 80px;
    align-items: start;
    gap: 40px 0px;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 991px) {
    .certificates-container {
        max-width: 100%;
        padding: 0 20px;
    }
}

.certificate-item {
    display: flex;
    min-width: 240px;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
    width: 320px;
}

.certificate-item-iso {
    line-height: 1;
}

.certificate-image {
    aspect-ratio: 0.71;
    object-fit: contain;
    object-position: center;
    width: 320px;
    min-width: 320px;
    box-shadow: -4px 6px 20px 4px rgba(0, 0, 0, 0.25);
    min-height: 453px;
    max-width: 100%;
}

.certificate-image-responsive {
    aspect-ratio: 320/453;
    width: 100%;
    min-width: 320px;
}

.certificate-title {
    color: #393939;
    margin-top: 24px;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.48px;
    line-height: 32px;
}

.certificate-title-left {
    align-self: start;
}

.section-divider-bottom {
    margin-top: 40px;
}

@media (max-width: 991px) {
    .section-divider-bottom {
        max-width: 100%;
    }
}